<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/vendort/defuse/php-encryption/tests" />
        <option value="$PROJECT_DIR$/vendort/paragonie/random_compat/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/code-unit/tests" />
        <option value="$PROJECT_DIR$/vendort/nikic/php-parser/test" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-invoker/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/lines-of-code/tests" />
        <option value="$PROJECT_DIR$/vendort/brick/math/tests" />
        <option value="$PROJECT_DIR$/vendort/league/oauth1-client/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/code-unit-reverse-lookup/tests" />
        <option value="$PROJECT_DIR$/vendort/paragonie/constant_time_encoding/tests" />
        <option value="$PROJECT_DIR$/vendort/dragonmantank/cron-expression/tests" />
        <option value="$PROJECT_DIR$/vendort/graham-campbell/result-type/tests" />
        <option value="$PROJECT_DIR$/vendort/league/oauth2-server/tests" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-timer/tests" />
        <option value="$PROJECT_DIR$/vendort/myclabs/deep-copy/tests" />
        <option value="$PROJECT_DIR$/vendort/vlucas/phpdotenv/tests" />
        <option value="$PROJECT_DIR$/vendort/webmozart/assert/tests" />
        <option value="$PROJECT_DIR$/vendort/google/protobuf/tests" />
        <option value="$PROJECT_DIR$/vendort/nyholm/psr7/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/environment/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/global-state/tests/unit" />
        <option value="$PROJECT_DIR$/vendort/ramsey/collection/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/recursion-context/tests" />
        <option value="$PROJECT_DIR$/vendort/ramsey/uuid/tests" />
        <option value="$PROJECT_DIR$/vendort/google/grpc-gcp/tests/grpc-gcp/grpc_unit_test" />
        <option value="$PROJECT_DIR$/vendort/kreait/firebase-php/tests" />
        <option value="$PROJECT_DIR$/vendort/spatie/backtrace/tests" />
        <option value="$PROJECT_DIR$/vendort/ralouphie/getallheaders/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/object-reflector/tests" />
        <option value="$PROJECT_DIR$/vendort/mtdowling/jmespath.php/tests" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Carbon" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/CommonTraits" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/CarbonImmutable" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/CarbonInterval" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/CarbonPeriod" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/CarbonTimeZone" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Localization" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Laravel" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Doctrine" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Factory" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Language" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Jenssegers" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/Cli" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests/PHPStan" />
        <option value="$PROJECT_DIR$/vendort/doctrine/inflector/tests/Doctrine" />
        <option value="$PROJECT_DIR$/vendort/hamcrest/hamcrest-php/tests" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-text-template/tests" />
        <option value="$PROJECT_DIR$/vendort/guzzlehttp/psr7/tests" />
        <option value="$PROJECT_DIR$/vendort/guzzlehttp/psr7/tests/Integration" />
        <option value="$PROJECT_DIR$/vendort/sebastian/type/tests" />
        <option value="$PROJECT_DIR$/vendort/psy/psysh/vendor-bin/phpunit/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/cli-parser/tests" />
        <option value="$PROJECT_DIR$/vendort/laravel/socialite/tests" />
        <option value="$PROJECT_DIR$/vendort/tijsverkoyen/css-to-inline-styles/tests" />
        <option value="$PROJECT_DIR$/vendort/laravel/tinker/tests" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-file-iterator/tests" />
        <option value="$PROJECT_DIR$/vendort/lcobucci/jwt/tests" />
        <option value="$PROJECT_DIR$/vendort/beste/json/tests" />
        <option value="$PROJECT_DIR$/vendort/kreait/firebase-tokens/tests" />
        <option value="$PROJECT_DIR$/vendort/nunomaduro/collision/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/rize/uri-template/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/complexity/tests/unit" />
        <option value="$PROJECT_DIR$/vendort/sebastian/complexity/tests/integration" />
        <option value="$PROJECT_DIR$/vendort/google/auth/tests" />
        <option value="$PROJECT_DIR$/vendort/voku/portable-ascii/tests" />
        <option value="$PROJECT_DIR$/vendort/mockery/mockery/tests" />
        <option value="$PROJECT_DIR$/vendort/filp/whoops/tests/Whoops" />
        <option value="$PROJECT_DIR$/vendort/league/flysystem/src" />
        <option value="$PROJECT_DIR$/vendort/kreait/laravel-firebase/tests" />
        <option value="$PROJECT_DIR$/vendort/fakerphp/faker/test/Faker" />
        <option value="$PROJECT_DIR$/vendort/dflydev/dot-access-data/tests" />
        <option value="$PROJECT_DIR$/vendort/monolog/monolog/tests/Monolog" />
        <option value="$PROJECT_DIR$/vendort/phpseclib/phpseclib/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/phpseclib/phpseclib/tests/Functional" />
        <option value="$PROJECT_DIR$/vendort/egulias/email-validator/tests/EmailValidator" />
        <option value="$PROJECT_DIR$/vendort/league/commonmark/tests/functional" />
        <option value="$PROJECT_DIR$/vendort/league/commonmark/tests/unit" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-code-coverage/tests/tests" />
        <option value="$PROJECT_DIR$/vendort/beste/clock/tests" />
        <option value="$PROJECT_DIR$/vendort/firebase/php-jwt/tests" />
        <option value="$PROJECT_DIR$/vendort/google/cloud-core/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/guzzlehttp/uri-template/tests" />
        <option value="$PROJECT_DIR$/vendort/google/gax/tests/Tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/sebastian/exporter/tests" />
        <option value="$PROJECT_DIR$/vendort/google/longrunning/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/laravel/passport/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/laravel/passport/tests/Feature" />
        <option value="$PROJECT_DIR$/vendort/sebastian/object-enumerator/tests" />
        <option value="$PROJECT_DIR$/vendort/lcobucci/clock/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/comparator/tests" />
        <option value="$PROJECT_DIR$/vendort/phpoption/phpoption/tests/PhpOption" />
        <option value="$PROJECT_DIR$/vendort/laravel/sanctum/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/laravel/sanctum/tests/Controller" />
        <option value="$PROJECT_DIR$/vendort/laravel/sanctum/tests/Feature" />
        <option value="$PROJECT_DIR$/vendort/fruitcake/php-cors/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/diff/tests" />
        <option value="$PROJECT_DIR$/vendort/laravel/framework/tests" />
        <option value="$PROJECT_DIR$/vendort/google/common-protos/tests" />
        <option value="$PROJECT_DIR$/vendort/league/config/tests" />
        <option value="$PROJECT_DIR$/vendort/nunomaduro/collision/tests/LaravelApp/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/nunomaduro/collision/tests/LaravelApp/tests/Feature" />
        <option value="$PROJECT_DIR$/vendort/guzzlehttp/guzzle/tests" />
        <option value="$PROJECT_DIR$/vendort/doctrine/lexer/tests" />
        <option value="$PROJECT_DIR$/vendort/guzzlehttp/promises/tests" />
        <option value="$PROJECT_DIR$/vendort/league/mime-type-detection/src" />
        <option value="$PROJECT_DIR$/vendort/carbonphp/carbon-doctrine-types/tests/Doctrine" />
        <option value="$PROJECT_DIR$/vendort/google/cloud-storage/tests/Unit" />
        <option value="$PROJECT_DIR$/vendort/google/cloud-core/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/complexity/tests" />
        <option value="$PROJECT_DIR$/vendort/nikic/php-parser/tests" />
        <option value="$PROJECT_DIR$/vendort/league/mime-type-detection/tests" />
        <option value="$PROJECT_DIR$/vendort/nesbot/carbon/tests" />
        <option value="$PROJECT_DIR$/vendort/league/flysystem/tests" />
        <option value="$PROJECT_DIR$/vendort/nunomaduro/collision/tests/LaravelApp/tests" />
        <option value="$PROJECT_DIR$/vendort/laravel/sanctum/tests" />
        <option value="$PROJECT_DIR$/vendort/phpoption/phpoption/tests" />
        <option value="$PROJECT_DIR$/vendort/google/cloud-storage/tests" />
        <option value="$PROJECT_DIR$/vendort/laravel/passport/tests" />
        <option value="$PROJECT_DIR$/vendort/google/gax/tests" />
        <option value="$PROJECT_DIR$/vendort/filp/whoops/tests" />
        <option value="$PROJECT_DIR$/vendort/fakerphp/faker/tests" />
        <option value="$PROJECT_DIR$/vendort/phpunit/php-code-coverage/tests" />
        <option value="$PROJECT_DIR$/vendort/nunomaduro/collision/tests" />
        <option value="$PROJECT_DIR$/vendort/carbonphp/carbon-doctrine-types/tests" />
        <option value="$PROJECT_DIR$/vendort/doctrine/inflector/tests" />
        <option value="$PROJECT_DIR$/vendort/egulias/email-validator/tests" />
        <option value="$PROJECT_DIR$/vendort/phpseclib/phpseclib/tests" />
        <option value="$PROJECT_DIR$/vendort/league/commonmark/tests" />
        <option value="$PROJECT_DIR$/vendort/google/longrunning/tests" />
        <option value="$PROJECT_DIR$/vendort/monolog/monolog/tests" />
        <option value="$PROJECT_DIR$/vendort/sebastian/global-state/tests" />
        <option value="$PROJECT_DIR$/vendort/google/grpc-gcp/tests" />
        <option value="$PROJECT_DIR$/app/tests/Unit" />
        <option value="$PROJECT_DIR$/app/tests/Feature" />
      </list>
    </option>
  </component>
</project>